:root {
    --transicionPrincipal: all 0.3s linear;
    --rojo: #CD2424;
    --negro: #222;
    --blanco: #fff;
    --gris: #ececec;
    --espacio: 0.1rem;
    --violeta: #270570;
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--negro);
    background-color: var(--blanco);
    font-family: 'Dosis', sans-serif;
    font-size: 16.18px;
}

.navbar {
    background-color: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 9rem;

    
}

.navbar p {
    color: #fff;
    font-size: 3rem;
}

.main {
    background-color: rgb(231, 231, 231);
    height: 40rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}

.main__vuelos {
    background-color: var(--violeta);
    height: 25rem;
    width: 75%;
    color: var(--blanco);
    border-radius: 1rem;
    padding: 3rem;
    box-shadow: 0 15px 25px rgba(0,0,0.9,0.9);

}

.main__vuelos__title{
    font-size: 2rem;
}

.main__vuelos__subtitle{
    font-size: 1rem;
}


.input-form {
    width: 100%;

}

.input-form input {
    border-radius: 6px;
    font-weight: 500;
    height: 48px;
    
}

.input-form select {
    border-radius: 6px;
    font-weight: 500;
    height: 48px;
    width: 150px;
    
}


input.btn-buscar{
    height: 48px;
    padding: 0 40px;
    line-height: 48px;
    font-weight: 700;
    background-color: #FA503f;
    border-radius: 24px;
    font-size: 18px;
    color: white;
    border: none;

}
button, input, optgroup, select, textarea {

    font-weight: 500; 
    padding-left: 1rem;
}

.input-form-container{

    
}



.section_vuelos{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(231, 231, 231);
    
}




.redes {
    text-decoration: none;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    font-size: 2rem;
    width: 30%; 
}

.redes li:hover{
    color:#777;
    cursor: pointer;
}

.redes-container {
    display: flex;
    justify-content: center;
}

.footer{
    background-color: #333333;
    color: white;
    border: 3px solid #111;
}

.texto-footer{
    font-size: 0.9rem;
    margin-top: 3rem;
}

.linea {
    display: flex;
    justify-content: center;
}

.footer-devo{
    border: 3px solid #777;
    border-radius: 9px;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.footer-devo p{
    padding-left: 60px;
    margin-top: 1rem;
}

.footer-devo p:nth-child(1){
    font-weight: 700;
    font-size: 1.1rem;
}

.footer-devo p:nth-child(3){
    cursor: pointer;
}

.footer-devo p:nth-child(3):hover{
    color: #777;
}

.footer-devo i{
    font-size: 2rem;
    position: absolute;
    padding-top: 10px;
}

.disabled {
    opacity: 0.3;
    cursor: not-allowed;
    pointer-events: none;
}

.resultados-container{
    display: flex;

    margin: 30px;
    padding: 30px;
    border: 3px solid #333456;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 15px 25px rgba(0,0,0,0.2);
    transition: 0.5s;
    background-color: #fff;
}

.resultado-container p {
    color: #666;
}

.container-destinos{
    display: flex;
    flex-direction: column;
    font-size: 1.3rem;
}
.container-destinos p{
    margin-top: 10px;
    margin-left: 10px;
}
.container-destinos i{
    margin-right: 30px;
}

.resultado-titulo{
    font-size: 3rem;
    margin: 2rem;
    text-align: center;
    background-color: #270570;
    color: white;
    box-shadow: 0 15px 25px rgba(0,0,0.9,0.9);
    border-radius: 20px;
    padding: 24px;
    font-family: 'Anton', sans-serif;
    font-weight: 300;
}

.resultados-fechaprecio{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 36%;
    margin: 3rem;
    font-size: 1.2rem;
}

.resultado-titulo-negativo{
    background-color: var(--rojo);
}



