:root {
    --transicionPrincipal: all 0.3s linear;
    --rojo: #CD2424;
    --negro: #222;
    --blanco: #fff;
    --gris: #ececec;
    --espacio: 0.1rem;
    --violeta: #270570;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--negro);
    background-color: var(--blanco);
    font-family: 'Montserrat', sans-serif;
    font-size: 16.18px;
}

.navbar {
    background-color: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 9rem;

    
}

.navbar p {
    color: #fff;
    font-size: 3rem;
}

.main {
    background-color: rgb(231, 231, 231);
    height: 40rem;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.main__vuelos {
    background-color: var(--violeta);
    height: 25rem;
    width: 75%;
    color: var(--blanco);
    border-radius: 1rem;
    padding: 3rem;


}

.main__vuelos__title{
    font-size: 2rem;
}

.main__vuelos__subtitle{
    font-size: 1rem;
}


.input-form {
    width: 100%;

}

.input-form input {
    border-radius: 6px;
    font-weight: 500;
    height: 48px;
    
}

input.btn-buscar{
    height: 48px;
    padding: 0 40px;
    line-height: 48px;
    font-weight: 700;
    background-color: #FA503f;
    border-radius: 24px;
    font-size: 18px;
    color: white;
    border: none;

}
button, input, optgroup, select, textarea {

    font-weight: 500; 
    padding-left: 1rem;
}

.input-form-container{

    
}
    
